<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/errors.css">
    <title>Error500</title>
</head>
<body>
    <div class="error-container">
        <h1>500 Internal Server Error</h1>
        <p>Sorry, something went wrong on our end.</p>
        <p>Please try again later or contact the administrator if the problem persists.</p>
        <p><a href="/">Return to Home Page</a></p>
    </div>
</body>
</html>